 ## Python Data Types

In [1]:
#Integer DataType
My_int=10
print(type(My_int))
print(My_int)
My_float=float(My_int)
print(type(My_float))
print(My_float)

<class 'int'>
10
<class 'float'>
10.0

In [2]:
#String DataType
My_str="Hello There! My name is Aditya"
print(type(My_str))
print(My_str)

<class 'str'>
Hello There! My name is Aditya

In [3]:
#Boolean DataType
My_bool=True
print(type(My_bool))
print(My_bool)

<class 'bool'>
True

In [4]:
#List DataType
My_lst=["Aditya",30,"Male","Gurugram",30]
print(type(My_lst))
print(My_lst)

<class 'list'>
['Aditya', 30, 'Male', 'Gurugram', 30]

In [5]:
#Tuple DataType
My_tpl=(1,2,1,"Aditya")
print(type(My_tpl))
print(My_tpl)

<class 'tuple'>
(1, 2, 1, 'Aditya')

In [6]:
#Set DataType
My_set={1,2,1,"Aditya"}
print(type(My_set))
print(My_set)

<class 'set'>
{1, 2, 'Aditya'}

In [7]:
#Dictionary DataType
My_Dict={"Name":"Aditya","Age":30,"Sex":"Male","Place":"Gurugram","Age":30}
print(type(My_Dict))
print(My_Dict)

<class 'dict'>
{'Name': 'Aditya', 'Age': 30, 'Sex': 'Male', 'Place': 'Gurugram'}

## Basic operations on DataTypes

In [12]:
print(My_lst[0]);
print(My_lst[1]);
print(My_lst[0:1]);
print(My_lst[1:3]);
print(My_lst[4:0:-1]);

Aditya
30
['Aditya']
[30, 'Male']
[30, 'Gurugram', 'Male', 30]